* {
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
}
.menu {
    weight: 100%;
    height: 60px;
    background-color: teal;
}
.conteudo-musica {
    width: 100%;
}
.rodape {
    width: 100%;
    background-color: rgb(40, 119, 197);
    text-align: center;
}
.desc-estilo {
    width: 100%;
    background-color: tan;
}
.desc-solo {
    width: 100%;
    background-color: teal;
}
.desc-grupo {
    width: 100%;
    background-color: tan;
}
.desc-banda {
    width: 100%;
    background-color: teal;
}
.desc-app {
    width: 100%;
    background-color: tan;
}
.img-ini{
    width: 100%;
}
@media screen and (min-width: 768px ) {  
    .menu {
        height: 120px;
        background-color: blueviolet;
        color: #FFF;
        font-size: 32px;
    }
    .desc-solo{
        display: flex;
    }
}
@media screen and (min-width: 1280px ) {
    .menu {
        height: 200px;
        background-color: #FFF ;
        font-size: 64px;
    }
    .img-ini{
        width: 50%;
    }
    .desc-solo {
        display: grid;
    }
} 
